
//=======Local-Font=========>
@layer base {
    @font-face {
      font-family: 'Mont';
      font-weight: 100;
      src: url('/fonts/Mont-100.otf');
    }
    @font-face {
      font-family: 'Mont';
      font-weight: 200;
      src: url('/fonts/Mont-200.otf');
    }
    @font-face {
      font-family: 'Mont';
      font-weight: 300;
      src: url('/fonts/Mont-300.otf');
    }
    @font-face {
      font-family: 'Mont';
      font-weight: 400;
      src: url('/fonts/Mont-400.otf');
    }
    @font-face {
      font-family: 'Mont';
      font-weight: 500;
      src: url('/fonts/Mont-500.otf');
    }
    @font-face {
      font-family: 'Mont';
      font-weight: 600;
      src: url('/fonts/Mont-600.otf');
    }
    @font-face {
      font-family: 'Mont';
      font-weight: 700;
      src: url('/fonts/Mont-700.otf');
    }
    @font-face {
      font-family: 'Mont';
      font-weight: 800;
      src: url('/fonts/Mont-800.otf');
    }
    #root{
        font-family: 'Mont';
    }
}
html {
    scroll-behavior: smooth;
    body{
        cursor:none;
        a{
            cursor:none;
        }
    }
}


//========Custom SASS=========>
header{
    nav{
        a{
            @apply block transition uppercase text-[13px] font-[500] text-gray-700 hover:text-[#10b881] px-6;
            &.active{
                @apply text-[#10b881];
            }
        }
    }
}
.nav-btn{
    @apply cursor-pointer bg-transparent border-0 outline-0 text-gray-700 lg:hidden lg:opacity-0 visible opacity-100;
}

@media only screen and (max-width:1024px){
    header{
        nav{
            @apply fixed top-0 left-0 z-10 h-[100vh] w-full flex flex-col items-center justify-center gap-2 bg-white/[0.5] backdrop-blur-lg transition-[1.5s] transform translate-y-[-100vh];
            .close-btn{
                @apply visible block absolute top-[1rem] right-[1rem];
                @apply mt-0 #{!important};
            }
            a{
                @apply text-[15px] text-[#000];
            }
        }
        .no-respons{
            @apply transform-none;
        }
    }
}


//skills
.skill-item{
    @apply flex items-center justify-between px-3 py-2 bg-[#f2f2f2] rounded-xl; 
    .img-holder{
        @apply relative flex h-10 w-10 flex-none items-center justify-center rounded-full ring-1 ring-gray-300;
        img{
            @apply h-7 w-7 overflow-hidden rounded-full;
        }
    }
    dd{
        @apply text-[13px] font-[500] tracking-wide text-gray-800 w-full;
    }
    .counter{
        @apply flex items-center justify-center text-[#1F2937] font-medium text-[14px] w-12 h-6 rounded-full bg-[#10B881]/[.12];
    }
}


//testimonial slider
.swiper-button-prev,
.swiper-button-next{
    @apply h-full #{!important};
    @apply top-[15px] #{!important};
    @apply w-[170px] #{!important};
    &::after {
        @apply text-white font-[900] bg-[#0FB87F] w-[40px] h-[40px] rounded-[30px] flex items-center justify-center;
        @apply text-[16px] #{!important};
    }
}
.swiper-button-prev{
    @apply bg-gradient-to-r from-[#FAF4E7] via-[#faf4e7de] to-transparent;
    @apply left-[-35px] #{!important};
}
.swiper-button-next{
    @apply bg-gradient-to-l from-[#FAF4E7] via-[#faf4e7de] to-transparent;
    @apply right-[-35px] #{!important};
}
@media only screen and (max-width:1023px){
    .swiper{
        @apply relative;
    }
    .swiper-button-prev,
    .swiper-button-next{
        @apply h-auto #{!important};
        @apply top-auto #{!important};
        @apply bottom-3 #{!important};
        @apply w-auto #{!important};
        @apply z-10 #{!important};
    }
    .swiper-button-prev{
        @apply left-[35%] #{!important};
    }
    .swiper-button-next{
        @apply right-[35%] #{!important};
    }
}


//steps works
.steplist{
    span > .bgclr{
        @apply bg-[#1F2937];
    }
}
.steplist:first-child {
    span > .bgclr{
        @apply bg-[#FF8045];
    }
}
.steplist:last-child {
    span > .bgclr{
        @apply bg-[#0FB87F];
    }
    .bar{
        @apply hidden;
    }
}
.tags{
    span{
        @apply text-[#FF8045] bg-[#FF8045]/[.18] border-[#FF8045]/[.35];
    }
}
.tags{
    span:first-child{
        @apply text-[#10B880] bg-[#10B880]/[.18] border-[#10B880]/[.35];
    }
}
.tags{
    span:last-child{
        @apply text-[#b05bc3] bg-[#b05bc3]/[.18] border-[#b05bc3]/[.35];
    }
}

//Loader Sass
.loader-area{
    @apply h-[100vh] w-full flex items-center justify-center bg-[#FAF4E7] text-[5rem] overflow-hidden;
}
.waveform {
    @apply inline-flex h-[.8em] w-[1em] gap-[0.1em] items-center;
}
.wave-bar {
    // animation: waves 250s linear infinite alternate;
    @apply w-full h-[10%] rounded-[100px] animate-[waves_250ms_linear_infinite_alternate] bg-[#47CF63];
}
.wave-bar:nth-child(2) {
	animation-delay: 100ms;
	@apply bg-[#F97F40];
}
.wave-bar:nth-child(3) {
	animation-delay: 200ms;
	@apply bg-[#B05BC3];
}
.wave-bar:nth-child(4) {
	animation-delay: 120ms;
	@apply bg-[#47CF63];
}
.wave-bar:nth-child(5) {
	animation-delay: 70ms;
	@apply bg-[#F97F40];
}
.wave-bar:nth-child(6) {
	animation-delay: 200ms;
	@apply bg-[#B05BC3];
}
.wave-bar:nth-child(7) {
	animation-delay: 20ms;
	@apply bg-[#47CF63];
}
@keyframes waves {
	from {
		height: 10%;
	}
	to {
		height: 100%;
	}
}


//experience
.expo-link:first-child{
    @apply bg-[#0FB87F]/[.1] hover:bg-[#10B881]/[.25];
}
.expo-link:nth-child(2){
    @apply bg-[#0FB87F]/[.1] hover:bg-[#10B881]/[.25];
}
.expo-link:nth-child(3){
    @apply bg-[#0FB87F]/[.1] hover:bg-[#10B881]/[.25];
}
.gradient-stops{
    background-image:radial-gradient(rgba(65,211,102,1), rgba(65,211,102,.9), rgba(65,211,102,.5), rgba(65,211,102,.1), transparent ,transparent);
}


// .animatable{
//     opacity:0;
//     transform:translate3d(0,100px,0);
//     transition-delay:0;
//     transition-duration:.5s;
//     transition-timing-function:ease;
//     transition-property: opacity, transform;
// }
// .animatable.animated{
//     opacity: 1;
//     transition-delay:.25s;
//     transform: translateZ(0);
// }


.animatable{
    opacity:0;
    transform:scale(.5);
    transition-delay:0;
    transition-duration:.5s;
    transition-timing-function:ease;
    transition-property: opacity, transform;
}
.animatable.animated{
    opacity: 1;
    transition-delay:.25s;
    transform: scale(1);
}




.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	transform: translateY(0);
	transition: all 0.9s;
}
.header.hidden {
    transform: translateY(-100%);
    transition-duration:.5s;
    transition-timing-function:ease;
}


svg.mouse #wheel {
	animation: scrollmouse ease 1.5s infinite;
}
@keyframes scrollmouse {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(100px);
	}
}


/* CustomCursor.css */
.custom-cursor {
    position: fixed;
    z-index: 99999;
    width: 24px;
    height: 24px;
    background-color: transparent; /* Default cursor color */
    pointer-events: none;
    // transition: transform 0.3s ease;
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' viewBox='0 0 20 20'%3E%3Cpath fill='%2313B780' d='M6.636 2.287A1 1 0 0 0 5 3.059v13.998c0 .927 1.15 1.355 1.756.655l3.524-4.073a1.5 1.5 0 0 1 1.134-.518h5.592c.938 0 1.36-1.176.636-1.772z'/%3E%3C/svg%3E")
}
  
.hovering-link {
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 36 36'%3E%3Cpath fill='%231F2937' d='M30.74 15.19a13.66 13.66 0 0 0-6.87-3.83a26 26 0 0 0-5.87-.78v-5.3A3.4 3.4 0 0 0 14.5 2A3.4 3.4 0 0 0 11 5.28v10L9.4 13.7a3.77 3.77 0 0 0-5.28 0A3.67 3.67 0 0 0 3 16.33a3.6 3.6 0 0 0 1 2.56l4.66 5.52a11.53 11.53 0 0 0 1.43 4a10.12 10.12 0 0 0 2 2.54v1.92a1.07 1.07 0 0 0 1 1.08H27a1.07 1.07 0 0 0 1-1.08v-2.7a12.81 12.81 0 0 0 3-8.36v-6a1 1 0 0 0-.26-.62M29 21.86a10.72 10.72 0 0 1-2.6 7.26a1.11 1.11 0 0 0-.4.72V32H14.14v-1.48a1 1 0 0 0-.44-.83a7.26 7.26 0 0 1-1.82-2.23a9.14 9.14 0 0 1-1.2-3.52a1 1 0 0 0-.23-.59l-4.92-5.82a1.7 1.7 0 0 1 0-2.42a1.76 1.76 0 0 1 2.47 0l3 3v3.14l2-1V5.28A1.42 1.42 0 0 1 14.5 4A1.42 1.42 0 0 1 16 5.28v11.8l2 .43v-4.92a24.27 24.27 0 0 1 2.51.18V18l1.6.35V13c.41.08.83.17 1.26.28a14.88 14.88 0 0 1 1.53.49v5.15l1.6.35V14.5a11.06 11.06 0 0 1 2.5 1.73Z' class='clr-i-outline clr-i-outline-path-1'/%3E%3Cpath fill='none' d='M0 0h36v36H0z'/%3E%3C/svg%3E");
    background-color: transparent;
    // transform: scale(1.5);
    background-position:center;
    background-repeat:no-repeat;
}

.canvas {
	filter: blur(250px);
	opacity: 0.6;
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    width:100%;
    height:100vh;
}

.default.canvas {
	filter: blur(250px);
	opacity: 0.6;
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    width:100%;
    height:100vh;
}


